@model SISTEMAGCS.Models.Usuario

@{
    ViewBag.Title = "Agregar";

    List<SISTEMAGCS.Models.Tipo_Usuario> tipousuario = ViewBag.tipo;
}




@using (Html.BeginForm("Guardar", "Usuario", FormMethod.Post, new { id = "frm-categoria" }))
{
    @Html.HiddenFor(x => x.Id_usuario)
    <div class="card"></div>
        <div class="card" style="align-content:center">
            <div class="card-header">Informacion del Usuario</div>
            <div class="card-body" >
                <div class="form-group">
                    @Html.LabelFor(x => x.Nombre)
                    @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Nombre, null, new { @class = "label label-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.Apellido)
                    @Html.TextBoxFor(x => x.Apellido, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Apellido, null, new { @class = "label label-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Correo)
                    @Html.TextBoxFor(x => x.Correo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Correo, null, new { @class = "label label-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Password)
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Password, null, new { @class = "label label-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.Estado)
                    <select name="ESTADO" class="form-control">
                        <option value="A">Activo</option>
                        <option value="I">Inactivo</option>
                    </select>
                    @Html.ValidationMessageFor(x => x.Estado, null, new { @class = "label label-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.Tipo_Usuario)
                    <select name="Id_tipousuario" class="form-control">
                        <option value="">--Seleccione--</option>

                    </select>
                    @Html.ValidationMessageFor(x => x.Id_tipousuario, null, new { @class = "label label-danger" })
                </div>





            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="~/Usuario" class="btn btn-danger">Cancelar</a>
            </div>
            <br /><br /><br />


        </div>
        }
